<div class="card">
<div class="header">
<button class="close-button" mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<div class="content">

    <div *ngFor="let product of clickedProduct" class="card-product">
        <div class="show-pic">
            <img src="{{product.image}}">
        </div>
            <div>
                <img src="{{product.image}}">
            </div>
                <div>
                    <div>
                        <h2>{{product.title}}</h2>
                        <h3>{{product.price | currency}} </h3>
                        <p>{{product.description}}</p>
                    </div>
                        <div>
                            <swal
                                #Swal
                                title="{{product.title}}"
                                text="is added to cart !"
                                icon="success"
                                confirmButtonColor="#222"
                                [timer]="2000"
                            >
                            </swal>
                            <button (click)="addToCart(product)"
                            [swal]="Swal"
                            >Add to Cart</button>
                        </div>
                </div>
    </div>
</div>
</div>