.card{
    height: 100%;
    .header{

        .close-button{
            float: right;
            border-style: none;
            background-color: transparent;
            .close-icon {
              transition: 1s ease-in-out;
            }
            .close-icon:hover {
              transform: rotate(180deg);
            }
          }
    }
  .content{
    display:grid;
    padding: 3%;
    overflow: hidden;
        .card-product{
          display:grid;
          grid-template-columns: minmax(50px, 100px) 2fr 2fr;
          gap: 20px;
              & img{
                width: 100%;
                object-fit: cover;
              }
              .show-pic img{
                width: 100%;
              }
              button{
                font-family: Poppins-Regular;
                font-size: 15px;
                line-height: 1.466667;
                color: #333;
                background-color: #fff;
                border-radius: 20px;
                min-width: 139px;
                height: 40px;

                &:hover{
                  border-color: #222;
                  background-color: #222;
                  color: #fff;
                }
              }
        }
  }
}