<div class="container">
<div class="main-contacts">
<div class="contact-header" style="background-image: url('../../../../assets/image/bg-02.jpg')">
    <h2>
        Contact
    </h2>
</div>

<div class="contact-form">
<div class="send-message">
    <h3>
        Send Us A Message
    </h3>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label><br>
            <input matInput type="text" required formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label><br>
            <input matInput type="email" required formControlName="email">
            <div *ngIf="form.get('email').hasError('required') &&
        form.get('email').touched" class="alert">
            Required field.
        </div>
        <div *ngIf="form.get('email').hasError('email') &&
        form.get('email').touched" class="alert">
          Email format error
        </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label><br>
            <textarea matInput type="text" required formControlName="msg"></textarea>
        </mat-form-field>
        <br>
        <button [disabled]="form.invalid" type="submit" class="send">Send</button>
    </form>
    <br>
</div>

    <div class="contact">
        <div>
            <div class="contact-flex">
                <span class="">
                    <mat-icon> location_on</mat-icon>
                </span>

                <div class="">
                    <h4>
                        Address
                    </h4>

                    <span class="text">
                        Spilo Store, Kyiv, Ukraine
                    </span>
                </div>
            </div>

            <div class="contact-flex">
                <span class="">
                    <mat-icon>phone</mat-icon>
                </span>

                <div class="">
                    <h4>
                        Lets Talk
                    </h4>

                    <a href="tel:+380671234567 ">
                        +38 067 123 45 67
                    </a>
                </div>
            </div>

            <div class="contact-flex">
                <span class="">
                    <mat-icon> mail_outline</mat-icon>
                </span>

                <div class="">
                    <h4>
                        Sale Support
                    </h4>

                    <a href="mailto:contact@example.com">
                        contact@example.com
                    </a>
                </div>
            </div>
    </div>
</div>
</div>

<div class="geo">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162757.72582727906!2d30.392608576923177!3d50.4021702384454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1658256048917!5m2!1sru!2sua"
     height="250" style="border:1px solid rgb(221, 217, 217); border-radius: 10px; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- <google-map
    height="250px"
    width="100%"
    ></google-map> -->
</div>
</div>