<div class="container">
  <div class="shop">
  <div id="category">
  <div class="category-name">
  <div><button (click)="getAllProducts()">All Products</button></div>
  <div *ngFor="let category of categories" (click)="showCategory(category)">
    <button>{{category}}</button>
  </div>
</div>
<div>
<div class="sort-filter">
<div class="select-sort">
  <mat-form-field appearance="fill">
   <mat-label>Sort by Price</mat-label>
   <mat-select [(value)]="selected">
    <mat-option value="None">None</mat-option>
    <mat-option value="Sort by increase">Increase</mat-option>
    <mat-option value="Sort by decrease">Decrease</mat-option>
   </mat-select>
  </mat-form-field>
</div>
<div class="filter">
 <mat-form-field appearance="fill">
<mat-label>Filter</mat-label>
<input matInput type="text" [(ngModel)]="currentValue">
</mat-form-field>
</div>
</div>
</div>
</div>
<div id="catalog">
<mat-card *ngFor="let product of products | searchFilter: currentValue | paginate: { itemsPerPage: 8, currentPage: page }"  class="product" >
  <div class="block">
    <img mat-card-xl-image src="{{product.image}}">
    <button class="trans-06">Quick View</button>
    </div>
  <div>
    <mat-card-content>
    <p>{{product.title}}</p>
    <p>{{product.price | currency}} </p>
  </mat-card-content>
  </div>
</mat-card>
</div>

<div class="pagination">
<pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
</div>