.shop {
    padding-top: 75px;
}
#catalog {
    display:grid;
    // grid-template-columns:repeat(4, 2.5fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:30px;
}

.pagination{
    text-align: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
        .block{
            position: relative;
            &:hover button{
                bottom: 10px;
                z-index: 1000;
            }
            .product-image{
                display: block;
                overflow: hidden;
                padding: 10px;
            }
        img{
            overflow: hidden;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            transition: transform 0.9s ease;
        }
            button {
                font-family: Poppins-Regular;
                font-size: 15px;
                line-height: 1.466667;
                color: #333;
                background-color: #fff;
                border-radius: 20px;
                min-width: 139px;
                height: 40px;
                position: absolute;
                bottom: -50px;
                left: 50%;
                overflow: hidden;
                z-index: -1000;
                transform: translateX(-50%);

                &:hover{
                    border-color: #222;
                    background-color: #222;
                    color: #fff;
                }
            }
        }
        .btn-buy-now{
            font-family: Poppins-Regular;
                font-size: 12px;
                line-height: 1.466667;
                color: #333;
                background-color: #fff;
                border-radius: 20px;
                min-width: 100px;
                height: 30px;
                &:hover{
                    border-color: rgba(103,117,214,0.8);
                    background-color: rgba(103,117,214,0.8);
                    color: #fff;
                }
        }
}

#category{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    min-height: 50px;
    gap: 10px;
    align-items: center;

    .category-name{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    button{
        text-transform: capitalize;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: Poppins-Regular;
        font-size: 15px;
        line-height: 1.2;
            &:hover{
            font-weight: bold;
            color: #333;
            border-bottom:1px solid #797979;
            }
    }
    .sort-filter{
        display: flex;
        justify-content: flex-end;
    }
}
.show-search {
    height: 100%;
    margin-bottom: 1%;
    .search-card{
        padding: 0 1%;
        input{
            width: 80%;
            border: none;
            outline: none;
        }
    }
}
.mat-icon {
  vertical-align: middle;
}