.shop {
    padding-top: 75px;
}
#catalog {
    display:grid;
    grid-template-columns:repeat(4, 2.5fr);
    gap:50px 25px;
    margin: 20px;
}


.pagination{
    text-align: center;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#category, #sort-filter, .category-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
    .category-name{
        width: 40%;
        align-items: center;
    }
}

mat-card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}