.shop {
    padding-top: 75px;
}
#catalog, #category{
    display:grid;
    grid-template-columns:repeat(4, 2.5fr);
    gap:50px 25px;
    margin: 20px;
}
img{
    width: 100px;
}

.pagination{
    text-align: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sort-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

mat-card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}