<div class="container">
<div class="header">
  <div class="logo">
  <img src="{{LogoImage}}" alt="logo">
  </div>
  <nav>
  <ul class="menu">
   <li><a routerLink="catalog" routerLinkActive="active">Shop</a></li>
   <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
   <li><a routerLink="contacts" routerLinkActive="active">Contacts</a></li>
   <li><a routerLink="basket" routerLinkActive="active"><img src="{{basket}}" alt="basket"></a></li>
  </ul>
  </nav>
</div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>