<header>
<div class="container-menu-desktop">
<div class="menu-desktop">
<div class="container">
<div class="header">
  <div class="logo">
  <img src="{{LogoImage}}" alt="logo">
  </div>
  <nav>
  <ul class="menu">
   <li><a routerLink="main" routerLinkActive="active">Main</a></li>
   <li><a routerLink="catalog" routerLinkActive="active">Shop</a></li>
   <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
   <li><a routerLink="about-us" routerLinkActive="active">About</a></li>
   <li><a routerLink="contacts" routerLinkActive="active">Contact</a></li>
   <li><a
        [matBadge]="badgeContent"
        [matBadgeHidden]="badgeContent==0"
        matBadgeSize="small"
        (click)="sidenav.toggle()">
        <mat-icon>shopping_cart</mat-icon>
        </a>
      </li>
  </ul>

  <div class="menu-mobile">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="main" routerLinkActive="active">Main</a>
        <a mat-menu-item routerLink="catalog" routerLinkActive="active">Shop</a>
        <a mat-menu-item routerLink="admin" routerLinkActive="active">Admin</a>
        <a mat-menu-item routerLink="about-us" routerLinkActive="active">About</a>
        <a mat-menu-item routerLink="contacts" routerLinkActive="active">Contact</a>
        <a mat-menu-item routerLink="cart" routerLinkActive="active"><mat-icon [matBadge]="badgeContent"
          [matBadgeHidden]="badgeContent===0"
           matBadgeSize="small">shopping_cart</mat-icon></a>
    </mat-menu>
  </div>
  </nav>
</div>
</div>
</div>
</div>
</header>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav mode="over"
    position="end"
    autosize
    fixedInViewport="true">
      <div class="side-cart">
          <div class="header-side-cart">
            <h2>quantity! Items</h2>
          </div>
          <mat-card class="list-items" *ngFor="let item of items" >
            <div class="item">
              <img mat-card-sm-image src="{{item.image}}">
            <mat-card-content>
             <p>{{item.title}}</p>
              <p>{{ item.price | currency }}</p>
            </mat-card-content>
            </div>
          </mat-card>
          <div class="total">
            <h3>Total: <span class="font-bold">{{ "Add Total Sum" }}</span></h3>

          </div>
          <div class="btn-block">
            <button class="btn"
              routerLink="cart"
              routerLinkActive="active"
              (click)="sidenav.toggle()">
              View Cart</button>
            <button class="btn"
            (click)="clearCart()">Clear Cart</button>
          </div>
        </div>
    </mat-sidenav>
  <mat-sidenav-content>
<router-outlet></router-outlet>
<app-footer></app-footer>
</mat-sidenav-content>
</mat-sidenav-container>