<div class="container">
<div class="banner-list">
    <div class="banner">
        <a href="/catalog">
            <img src="../../../../assets/image/banner-01.jpg">
            <p>Women</p>
            <span>Spring 2022</span>
            <div class="shop-block trans-05">
                <div class="shop-link trans-09">
                    Shop Now
                </div>
            </div>
        </a>
    </div>

    <div class="banner">
        <a href="/catalog">
            <img src="../../../../assets/image/banner-02.jpg">
                <p>Men</p>
                <span>Spring 2022</span>
                <div class="shop-block trans-05">
                    <div class="shop-link trans-09">
                        Shop Now
                    </div>
                </div>
        </a>
    </div>

    <div class="banner">
        <a href="/catalog">
            <img src="../../../../assets/image/banner-03.jpg">
                <p>Accesories</p>
                <span>New trend</span>
                <div class="shop-block trans-05">
                    <div class="shop-link trans-09">
                        Shop Now
                    </div>
                </div>
        </a>
    </div>

    <div class="banner">
        <a href="/catalog">
            <img src="../../../../assets/image/banner-04.jpg">
                <p>Electronics</p>
                <span>New arrivals</span>
                <div class="shop-block trans-05">
                    <div class="shop-link trans-09">
                        Shop Now
                    </div>
                </div>
        </a>
    </div>
  </div>
</div>
