<div class="container">
<div class="banner-list">
    <div class="banner">
        <img src="../../../../assets/image/banner-01.jpg">
        <p>Women</p>
        <span>Spring 2022</span>
    </div>

    <div class="banner">
        <img src="../../../../assets/image/banner-02.jpg">
        <p>Men</p>
        <span>Spring 2022</span>
    </div>

    <div class="banner">
        <img src="../../../../assets/image/banner-03.jpg">
        <p>Accesories</p>
        <span>New trend</span>
    </div>

    <div class="banner">
        <img src="../../../../assets/image/banner-04.jpg">
        <p>Electronics</p>
        <span>New arrivals</span>
    </div>

  </div>
</div>
