<div class="carousel-container">
  <!-- <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides" >
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.img" class="slide">
       <div class="banner" *ngIf="show" @query>
        <div *ngIf="show">{{slide.title}}</div>
        <div class="btn">{{slide.description}}</div>
        <button>{{slide.button}}</button>
      </div>
      </ng-template>
    </ng-container>
    </owl-carousel-o> -->
    <app-carousel [slides]="slides" [animationType]="animationType"></app-carousel>
    <div class="animition-type-selector">
      <div
        *ngFor="let type of animationTypes"
        class="button"
        (click)="setAnimationType(type)"
        [class.active]="animationType === type.value"
      >
        {{ type.name }}
      </div>
    </div>
  </div>
<div class="container">
<app-catalog></app-catalog>
<app-about-us></app-about-us>
<app-contacts></app-contacts>
</div>