.carousel{
    position: relative;
    overflow: hidden;
    .carousel > * {
        margin: 1rem;
    }
}

.banner {
    width: min(100% - 15px, 1200px);
    position: absolute;
    bottom: 50%;
    left: 15%;
    }

// .description {
// 	animation: description 4.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
// }

//  @keyframes description {
//     0% {
//       letter-spacing: -0.5em;
//       opacity: 0;
//     }
//     40% {
//       opacity: 0.6;
//     }
//     100% {
//       opacity: 1;
//     }
//   }
