
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular_website-primary: mat.define-palette(mat.$indigo-palette);
$angular_website-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular_website-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular_website-theme: mat.define-light-theme((
  color: (
    primary: $angular_website-primary,
    accent: $angular_website-accent,
    warn: $angular_website-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular_website-theme);

// =================================
// Fonts
// =================================
@font-face {
  font-family: Poppins-Regular;
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-ExtraLight;
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Italic;
  src: url('../src/assets/fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url('../src/assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url('../src/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}

// =======================================================================

html, body { height: 100%; scroll-behavior: smooth;}
body { margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: min(100% - 15px, 1380px);
  margin-inline: auto;
}

.trans-image{
  width: 100%;
  height: 100%;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;

  &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
  }
}

.trans-05 {
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.trans-06 {
	-webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.trans-09 {
	-webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}

@media only screen and (max-width: 576px){
  .category-name{
      display:grid !important;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      justify-items: center;
  }
  .sort-filter{
      display:grid !important;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      justify-items: center;
  }
  .menu {
    display: none !important;
  }
}